
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% M:\link_list\linkList\linkbud_app\static'style.css' %}">
    <!-- Add this to your base HTML template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <form action=""></form>
    <h2 style="color: crimson;">Create a Link List</h2><br>
    <label style="color: blueviolet;" for="">Name</label>
    <br>
    <input type="text" placeholder="" name="">
    <br><br>
    <label style="color: blueviolet;" for="">Description</label>
    <br>
    <input type="text" placeholder="">
    <br><br>
    <label style="color: blueviolet;"   for="">Slug</label>
    <br>
    <input type="text" placeholder="">
    <br><br>
    <h3>Links</h3>
    <label style="color: blueviolet;"  for="">Name</label><br>
    <input type="txt"><br><br>
    <label style="color: blueviolet;"  for="">URL</label><br>
    <input type="url"><br><br>
    <a class="btn btn-primary" href="#" role="button">Link</a><br><br>
    <button type="button" class="btn btn-primary">Create</button>

</body>
</html>