*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

body{
    display: flex ;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("https://wallpapers.com/images/high/wooden-surface-in-black-3d-1zormtyqahhu9kcw.webp");
    background-size: cover;
    background-position: center;
    
}
.wrapper{
    width: 420px;
    background: transparent;
    color: #fff; 
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0,0,10px rgba(0, 0, 0 ,.2);
    border: 2px solid;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;


}

.wrapper p{
    text-align: center;
    padding-top: 20px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.wrapper .btn-primary {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0,0,10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
 }