h1{
    background-color: aquamarine;
    text-align: center;
}
body{
    background-image:url("https://wallpapers.com/images/high/wooden-surface-in-black-3d-1zormtyqahhu9kcw.webp") ;
    
}


.custom-table {
    width: 100%;
    /* Add more styles here */
}








